@import url(variables.css);
@import url(reset.css);
@import url(base.css);
@import url(layout.css);
@import url(animations.css);

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: none;
}

#container {
    height: auto;
    opacity: 1;
}

#txt {
    background-color: var(--purple);
    border-radius: 10px 10px 0 0;
    padding: 5px;
    text-align: center;
}

#txt h1 {
    font-size: 1em;
    font-weight: bolder;
    margin-top: 7px;
    text-transform: uppercase;
}

.carousel, .carousel-inner {
    border-radius: 0 0 10px 10px;
}

img {
    border-radius: 0 0 10px 10px;
}

button.carousel-control-prev:active, 
button.carousel-control-next:active {
    background: none;
}

#musica button {
    background-color: var(--purple);
    color: var(--white);
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    height: 2.5em;
    width: 6.4em;
    font-size: 0.8em;
    text-transform: uppercase;
}

#musica button:hover {
    background-color: var(--light-purple);
}

#music {
    justify-self: center;
}

#pausar {
    justify-self: center;
    display: none;
}

#msg {
    visibility: hidden;
    margin-top: 10px;
    color: var(--purple);
}

#voltar {
    background-color: var(--light-purple);
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
}

#voltar button {
    background: none;
    border: none;
    color: var(--white);
    font-weight: bolder;
    font-size: 0.8em;
    margin-bottom: 5px;
}

#voltar button:hover {
    color: var(--extra-light-purple);
}
