/*------------------------------------------------------------------------
Utilidades
------------------------------------------------------------------------*/

.anim-btn {
    width: 300px !important;
    font-weight: bolder !important;
}

.cellBtn {
    width: 5.5em !important;
}

.resetBtn {
    color: var(--white);
}

.resetBtn:hover {
    color: var(--extra-light-purple);
}